.form {
  padding: 34px 36px 37px;
  background: #ffffff;
  border-radius: 10px;
  max-width: 430px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .form {
    padding: 25px 22px 25px;
    max-width: 282px;
  }
}
