.profile__status {
  color: #fff;
  margin: 0;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  margin-top: 8px;
}

@media screen and (max-width: 919px) {
  .profile__status {
    font-size: 14px;
  }
}
