.profile__text-container {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
}

@media screen and (max-width: 919px) {
  .profile__text-container {
    max-width: 282px;
  }
}

@media screen and (max-width: 781px) {
  .profile__text-container {
    justify-content: center;
  }
}

@media screen and (max-width: 471px) {
  .profile__text-container {
    margin: 26px 0 0;
  }
}
