.profile__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 781px) {
  .profile__info {
    justify-content: center;
  }
}

@media screen and (max-width: 471px) {
  .profile__info {
    flex-direction: column;
  }
}
